<%= error_messages_for(f.object) %>

<div class="form-group row">
  <%= f.label :first_name, class: 'col-xs-2 col-form-label'  %>
  <div class="col-xs-10">
    <%= f.text_field :first_name, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :last_name, class: 'col-xs-2 col-form-label'  %>
  <div class="col-xs-10">
    <%= f.text_field :last_name, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :email, class: 'col-xs-2 col-form-label'  %>
  <div class="col-xs-10">
    <%= f.text_field :email, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :username, class: 'col-xs-2 col-form-label'  %>
  <div class="col-xs-10">
    <%= f.text_field :username, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :password, class: 'col-xs-2 col-form-label'  %>
  <div class="col-xs-10">
    <%= f.password_field :password, class: 'form-control' %>
  </div>
</div>
<div class="form-group row">
  <%= f.label :roles, class: 'col-xs-2 col-form-label'  %>
  <div class="col-xs-10">
    <table class="table">

      <% @user.roles.each do |role| %>
          <tr>
            <td><%= role %></td>
            <td><a href='#'>asdf</a></td>
          </tr>
      <% end %>
    </table>

  </div>
</div>

