<% @page_title = "Delete Admin User" %>

<%= link_to(" << Back to List", delete_user_path, :class => 'back-link') %>

<div class="user delete">
  <h2>Delete Users</h2>

  <%= form_for(@user, :method => 'delete') do  |f| %>

      <p>Are you sure you want to permanently delete this User?</p>

      <p class="reference-name"><%= f.object.first_name %> <%= f.object.last_name %></p>

      <div class="form-buttons">
        <%= f.submit("Delete User") %>
      </div>

  <% end %>
</div>