<% @page_title = "Admin Users" %>

<div class="users index">
  <h2>Users</h2>

  <div><%= pluralize(@users.size, 'user') %> found</div>

  <%= link_to("add new user", new_user_path, :class => 'action new') %>
  <hr />
  <table class="table" summary="Admin User list" id="table_users">
    <thead>
      <tr class="header">
        <th>id</th>
        <th>name</th>
        <th>email</th>
        <th>username</th>
        <th>created at</th>

        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <% @users.each do |user| %>
          <tr>
            <td><%= user.id %></td>
            <td><%= user.name %></td>
            <td><%= mail_to(user.email) %></td>
            <td><%= user.username %></td>
            <td><%= user.created_at.to_s(:long) %></td>

            <td class="actions">
              <%= link_to("Show", user_path(:id => user.id), :class => 'action show') %>
              <%= link_to("Edit", edit_user_path(:id => user.id), :class => 'action edit') %>
              <%= link_to("Delete", delete_user_path(:id => user.id), :class => 'action delete') %>
            </td>
          </tr>
      <% end %>
    </tbody>
  </table>
</div>
<script>
  $(document).ready(function() {
    $('#table_users').DataTable();
  } );
</script>

