<p id="notice"><%= notice %></p>

<h1>Events</h1>

<table class="table" summary="Admin User list" id="table_users">
  <thead>
  <tr class="header">
    <th>id</th>
    <th>title</th>
    <th>description</th>
    <th>start date</th>
    <th></th>
  </tr>
  </thead>
  <tbody>
    <% @events.each do |event| %>
      <tr>
        <td><%= event.id %></td>
        <td><%= event.title %></td>
        <td><%= event.description %></td>
        <td><%= event.startDate %></td>
        <td><%= link_to 'Show', event %><br />
        <%= link_to 'Edit', edit_event_path(event) %><br />
        <%= link_to 'Destroy', event, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

<%= link_to 'New Event', new_event_path %>
