
<%= link_to 'Edit', edit_event_path(@event) %> |
<%= link_to 'Back', events_path %>


<div class="event how">
  <h2>Show Event</h2>

  <table class="table" summary="Event detail view">
    <tr>
      <th>Title: </th>
      <td><%= @event.title %></td>
    </tr>
    <tr>
      <th>description: </th>
      <td><%= @event.description %></td>
    </tr>
    <tr>
      <th>start date: </th>
      <td><%= @event.startDate.to_s(:custom_datetime) %></td>
    </tr>
    <tr>
      <th>distance: </th>
      <td>
        <% if !@event.distance.nil? %>
        <%= @event.distance.distance_string %>
        <% end %>
      </td>
    </tr>
    <tr>
      <th>location: </th>
      <td><%= @event.startLocation %></td>
    </tr>
    <tr>
      <th>visible: </th>
      <td><%= @event.visible %></td>
    </tr>
    <tr>
      <th>retire: </th>
      <td><%= @event.retire %></td>
    </tr>
  </table>
</div>

